<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Matthew Owens</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	
</head>
<body>

	<!-- Component -->
    
    <section>
        <span>Kin HR Software</span>
        <h1>Streamline HR for your entire team with Kin</h1>
        
        <button>TRY KIN FREE</button>
        <button>Play Video</button>
    </section>

	<!-- End Component -->
	
</body>
</html>