<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Matthew Owens</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>

	
</head>
<body>

	<!-- Component -->
   <section> 
        <h1>Why join our club?</h1>
        <article>
            <img src="map.png"/>
            <p>A wide range of locations and often unique hiking trip itineraries</p>
        </article>
        <article>
            <img src="hiker.png"/>
            <p>Meet an extremely active group with hikes every weekend</p>
        </article>
        <article>
            <img src="mountains.png"/>
            <p>Mountain vistas, pristine lakes, rushing streams, wild rivers</p> 
        </article>
    </section>

	<!-- End Component -->
	
</body>
</html>