<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    
    <h1> 1975 </h1>
    
    <p>Create stunning travel diaries. Pick up your camera, plot your adventure, and tell your story.<strong> Are you ready?</strong></p>
    <p><a href="#">I am ready.</a></p>
    
    <section class="video-background">
        <video autoplay="autoplay" height="720" class="welcome-video" loop="loop" width="1280">
        <source src="https://s3.amazonaws.com/1975-production/assets/videos/welcome-screen-video.mp4">           </video>
    </section>

	<!-- End Component -->
	
</body>
</html>