<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Matthew Owens</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

	
</head>
<body>

	<!-- Component -->
    
    <section>
        <nav>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">portfolio</a>
                    <ul>
                        <li><a href="#">masonry</a></li>
                        <li><a href="#">grid style</a></li>
                        <li><a href="#">justified style</a></li>
                        <li><a href="#">list style</a></li>
                    </ul>
                </li>
                <li><a href="#">servicies</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">contacts</a></li>
            </ul>
        </nav>
    </section>

	<!-- End Component -->
	
</body>
</html>